* {
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    }

.card {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    max-height: 499px;
    max-width: 320px;
    display:flex;
    flex-direction: column;
}

img {
    border-radius: 10px;
    max-width: 288px;
    margin: 16px 16px 24px 16px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 0px 16px 16px 16px;
    font-size: 22px;
    line-height: 120%;
}

p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    padding: 0px 16px 40px 16px;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

